.todo {
  /* Estilos del contenedor principal si es necesario */
}

.header {
  padding-left: 15px;
  padding-top: 60px;
  display: flex;
}

.direccion {
  margin-left: 15px;
}

.dire {
  font-size:14px;

}

.location {
  height: 14px;
  width: 14px;
  font-size:12px;

}

.arrow-left {
  /* Estilos específicos para la flecha si los necesitas */
}
.textoo{
  margin-left: 15px;
}
.texto2{
  margin-left: 15px;
  font-size:12px;

}

/* From Uiverse.io by Mhyar-nsi */ 
.botonn {
  margin-left: 80px;
  background: radial-gradient(circle, rgba(92,225,230,1) 0%, rgba(85,75,241,1) 100%);
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  transition: 0.3s;
  box-shadow: 0 0 0 6px #3b83f65f;
}

.botonn:hover {
  background-color: #3b82f6;
  box-shadow: 0 0 0 10px rgb(92,225,230);
  color: #fff;
}

.nav{
  margin-top:200px;
}