.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    padding: 10px 20px;
    color: white;
}

.navbar-logo img {
    width: 40px;
    height: auto;
}

.navbar-links {
    display: flex;
    align-items: center;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #61dafb;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.logout-button,
.login-button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

.logout-button:hover,
.login-button:hover {
    text-decoration: underline;
}
