.verification-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #212121;
    color: white;
    height: 100vh;
    padding: 20px;
  }
  
  .verification-icon {
    background-color: rgba(0, 255, 0, 0.1);
    border-radius: 50%;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
  }
  
  .circle {
    animation: color-change 5s linear forwards;
  }
  
  @keyframes color-change {
    0% {
      stroke: #F9F4FF;
    }
    20% {
      stroke: #dbbeff;
    }
    40% {
      stroke: #EFE5FF;
    }
    60% {
      stroke: #5CE1E6;
    }
    80% {
      stroke: #554BF1;
    }
    100% {
      stroke: green;
    }
  }
  
  .stop-animation .circle {
    animation: none;
    stroke: green;
  }
  
  h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  p {
    margin: 0;
    margin-bottom: 30px;
    font-size: 16px;
    text-align: left;
  }
  
  .continue-button {
    background-color: #212121;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .continue-button:hover {
    background-color: white;
    color: #212121;
  }
  
  /* Responsivo */
  @media (max-width: 768px) {
    h2 {
      font-size: 20px;
    }
  
    p {
      font-size: 14px;
    }
  
    .continue-button {
      padding: 8px 16px;
    }
  }
  